.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #1885b4;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.brand-name:hover {
  color: #3f6ea4;
}

/* Navbar'daki Profil Resmi Küçük Olacak */
.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}
